<% if params[:action] == "search" %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock %>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
              <li class="list-group-item"><strong>Symbol: </strong><%= @stock.ticker %></li>
              <li class="list-group-item"><strong>Name: </strong><%= @stock.name %> </li>
              <li class="list-group-item"><strong>Price: </strong><%= @stock.last_price %></li>
              <li class="list-group-item">
                <% if current_user.can_add_stock?(@stock.ticker) %>
                  <%= link_to "Add to my portfolio", user_stocks_path(user: current_user, stock_ticker: @stock.ticker),
                          class: "button btn-xs btn-primary", method: :post %>    
                <% else %>
                  <span class="label label-default">
                    Stock cannot be added because
                    <% if !current_user.under_stock_limit? %>
                      you have reached the limit of 10 stocks
                    <% end %>
                    <% if current_user.stock_already_added?(@stock.ticker) %>
                      this stock is already in your portfolio
                    <% end %>
                  </span>
                <% end %>
              </li>
            </ul>
        </div>
        <div class="col-md-8"></div>
    </div>
  <% end %>
